{% extends 'base.html' %}
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
{% block body %}
<div class="container" style='width: 800px;'>

    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="lakshitsharma99" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/lakshitsharma99?trk=profile-badge">Lakshit Sharma</a></div>

</div>
{% endblock %}
